/*OLD CSS*/
body {
    font-size:100%;
    padding: 0;
    margin: 0;
    font-family: “Georgia”, serif;
    Font-Family: "Trebuchet MS", Helvetica, sans-serif;
}
.container a {
 color: #e68700;
 text-decoration: none;
}
a:hover {
 color: #e68700;
 text-decoration: underline;
}
#wrapper {
    padding-bottom: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    box-shadow:13px 15px 20px gray;
           }

#main_header img {
    width: 1000px;
    height: auto;
    }

#content {
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    /*background-image: url('/static/img/bottom_bar.png');
    background-position: bottom left;*/
    background-repeat: no-repeat;
     
}
.oflow {
    height: 300px;
    overflow: hidden;

}

#pr_gal  {
    text-align: center;
}

#pr_gal .cmp {
    /*display: inline-block;
    vertical-align: top;
    width: 22%;*/
    text-align:center;
    /*min-height: 170px;
    max-height: 200px;*/
    /*margin-right: 5px;*/
    margin-bottom: 30px;
    background: #eee;
}

#pr_gal .cmp img {
    max-height: 160px;
    max-width: 220px;
    height: auto;
    width: auto;
    /*box-shadow: 0px 0px 5px #888888;*/
    border: 2px solid #555;
    display: inline-block;
    vertical-align: middle;
}
.cmp a {
 color: #444;
 text-decoration: none;
 display: block;
 margin-top: 8px;
 font-size: 0.8em;
}
.cmp .dlink  {
 display: block;
}
.cmp .link-cont {
    background: #fff;
    padding-top: 10px;
}
#pr_gal .cmp:hover {

}
#pr_gal img:hover {
    border-color: #f90;
}
#pr_gal a:hover {
    
    color: #000;
    text-decoration: none;
}
div.imwr {
    height: 180px;
    overflow: hidden;
    vertical-align: middle;
}
.clear {
  clear:both;
}
.dinline {
display: none;
/*width: 400px;*/

}
.dinline .din_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dinline ul li.l1 {
    padding: auto; 
    float: left;
    width: 400px;
    border: 0px solid blue;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-align: center;
}
.dinline ul li.l1 img{
    box-shadow: 0px 0px 25px #000;
    max-height: 300px;
    max-width: 380px;
    width: auto;
}
.dinline ul li.l2 {
    float: left;
    width: 380px;
    height: 415px;
    background: #fff;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: justify;
    overflow-x: hidden;
    border-radius: 4px;
    background: linear-gradient(#fff, #ddd);
}
.gal  {
    margin: 0;
    padding: 0;
}
.dinline h4 {
    margin-bottom: 20px;
    text-align: left;
}

.dinline img {
 max-width: 450px;
 height: auto;
}

.fancybox-overlay {
    background: none !important;
}
.fancybox-inner {
 overflow: hidden;
}
.fancybox-skin {

border: 2px solid white !important;
 /*background: none !important;*/

    background: rgba(20, 20, 20, 0.8) !important;
}
.fancybox-close {
    right:  0 !important;
    top: 0 !important;
}
.just {
    text-align: justify;
}
.level_1  a{
 font-weight: bold;
}
.level_1 {
 border-bottom: 1px solid #dddddd;
}
#menu_services {
 margin-right: 10px;
 list-style-type: none;
 /*border: 1px solid gray;
 border-radius: 5px;*/
 width: 200px;
 padding: 0px;
 /*box-shadow:1px 0px 7px gray;*/
 padding-top: 30px;
 padding-bottom: 45px;
 background-image: url('/static/img/servbg2.png'), url('/static/img/servbg.png');
 background-repeat: no-repeat, no-repeat;
 background-position: top, bottom;
}
#menu_services li {
 border-top: 0px;
 /*border-bottom: 1px solid gray;*/
 padding: 3px;
}

#menu_services li a,  #slist li a {
 text-decoration: none;
 color: black;
 display: block;
}

#slist li a:hover {
 text-decoration: underline;
}
#slist li {
    background: url(/static/img/logo_small12.png) no-repeat;
    padding-left: 15px;
    background-size: 12px 12px;
}
#slist, #serv_images {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu_services li.hov:hover {
 background-color: #dddddd;
 cursor: pointer;
}
#menu_services .head {
 /*background-color: #d8dade;*/
 font-weight: bold;
 font-size: 1.5em;
 text-align: center;
}
#menu_services .head:hover {

 /*background-color: #d8dade;*/
 background-color: none;
}

#service_content {
    float: left;
    margin-left: 20px;
    width: 650px;
    border: 0px solid red;
    min-height: 100px;
}
#service_content {
 text-align: justify;
}
#serv_images  {

    margin-top: 30px;
    margin-bottom: 25px;
}
#serv_images img {
 max-width: 200px;
 height: auto;
 max-height: 140px;
}

#serv_images li {
     border: 1px solid gray;
     box-shadow: 0px 0px 3px gray;
     height: 150px;
     float: left;
     margin-left: 7px;
     padding: 3px;

}

#serv_images a:hover{
opacity: 0.5;
}


input {
 border: 1px solid #ccc;
 border-radius: 3px;
}
label {
 display: block;
 float: left;
 min-width: 80px;
}
#submit_inp {
 font-size: 1.5em;
 width: 100px;
 cursor: pointer;
 display: block;
 margin: auto;
}

#submit_inp:hover {
 border: 1px solid #bbb;
}
#contform 
{
 width: 400px;
}

#nc {
 width: 100px;
 padding-top: 50px;
}


.debug {
 color: black;
 background-color: rgb(180, 220, 220);
}
/* SLIDER */

.clear {
	clear: both;
}
}
#contact_data {
 font-size: 1em;
}
#contact_sec form {
 float: left;
 margin-right: 100px;
}
#contact_sec iframe {
 float:left;
 width: 400px;
 border: 1px solid gray;
}
#gray_box {
background-color: #b2b2b2;
height: 80px;
width: 98%;
margin:auto;

}
#branding h1 {
 color: #ffffff;
}
#branding,  #header {
 background: #009ACA;
}
/*h2, h3, h1 {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}*/
#id_desc {
 width: 600px;
}

/*GALLERY CSS*/

.gal .hid {
 /*visibility: hidden;*/
 /*height: 0;*/
}
.gal p {
     color: white;
     border: 0px solid rgba(200, 200, 200, 1);
     padding-top: 30px;
     font-size: 1.0em;
     text-align: justify;
}

.gal div {
    height: 300px;
}


/*NEW CSS*/
body {
   /* padding-top: 150px;*/ /*only for fixed navbar*/
    background: url("/static/img/p5.png");
}
.content  {
    margin-top: 0px;
    margin-bottom: 30px;
    min-height: 400px;
}
.main-cont {

    background: #fff;
}
.header.navbar {
    margin-bottom: 0px;
    border-bottom: 2px solid #f90;
}
#logo {
    max-width: 100%;
    height: auto;
}
.header .menu-cont {
    padding-left: 0;

}

.logo-cont, .menu-cont {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
}

#menu  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    text-align: center;
}
#menu  .limenu:last-child {
    background-image: url('');
}
#menu  .limenu a {
    color: #444;
    text-decoration: none;
    display: block;
    transition: color 0.4s;
    transition: border 0.4s;
    font-weight: 400;
    padding-top: 5px;

    border-top:1px dotted #fff; /*#d56003;*/
}

#menu  .limenu a:hover:not(.active){
    color: #222;
    border-bottom:1px dotted #f90; /*#d56003;*/
}
#menu a.active {

    border-top:3px solid #f90; /*#d56003;*/
}
.clear {
    clear: both;
}


#menu .limenu {
    display: inline-block;
    font-family: '“Trebuchet MS”', Helvetica, sans-serif;/*Georgia, Serif;*/
    min-width: 60px;
    font-size: 1.25em;
    height: 40px;
    line-height: 40px;
    background: None;
    border-right: 1px solid #ccc;
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center;
    margin-left: 2px;
    /*padding-left: 20px;*/
}
.mobile-btn-menu {
    padding: 5px;
    text-align: center;
}
.mobile-serv-menu  {padding: 5px;}
.mobile-btn-menu button, .mobile-btn-menu button:focus, .mobile-btn-menu button:hover , .mobile-serv-menu button{
    border-color: #f90;
}

.line {
    width: 100%;
    border-bottom: 3px solid #eee;
    margin-top: 10px;
}
.foot {
    background: #272727;
    color: white;
    min-height: 200px;
}


#carousel-example-generic .item img {
    margin-left:200px;
}

#carousel-example-generic .item .carousel-caption {
    /*background: #000;
    opacity: 0.75;*/
}

#carousel-example-generic .carousel-indicators  {
    bottom: 0px;
    margin-bottom: 0;
}
#carousel-example-generic {

    /*background: #222;*/
}


#hot2
{ 
    margin: 0;
    padding:0;
    list-style-type: none;
}
#hot2 li {
 padding-top: 30px;
}

#hot {
 list-style-type: none;
 width: 210px;
 border: 1px solid;
 padding: 10px;
 padding-top: 2px;

}
.hotlist li {
 border-bottom: 1px solid #e3e3e3;
 padding-top: 5px;
 min-height: 25px;
 font-size: 16px;
}
#hot2 p {
 text-align: justify;
}
#hot li.ltitle {
 text-align: center;
 padding-bottom: 0px;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
#hot li.ltitle h3{

    padding-left: 25px;
    font-size: 1em;
}
#hot li.lmore a {
    font-size: 1.1em;
     color: #e68700;
     padding: 0;
}
.hotlist li span{

 font-weight: bold;
 color: #e68700;
}
#hot li span{
 font-size: 10px;

}
.hotlist li a {
 color: black;
 text-decoration: none;

}
.hotlist li a:hover{
 text-decoration: underline;
 
 font-weight: bold;
}
#hot2 li a {

 text-decoration: underline;
}
#hot li:hover  {
}

.slogan-home {

}
.lmore {
    text-align: right;
    padding: 5px;
}

.slogan-home {
}

.services-home  {
    text-align: center;
    margin-top: 30px;
}
.services-home .panel-heading {
    text-align: left;
}

.services-home .panel .panel-body {

    min-height: 150px;
    padding: 10px;
    text-align: justify;
}
.services-home .panel .panel-footer {
    background: none;
    padding: 0px;

}
.services-home .panel-footer a{
    
    color: #f90;
}

.services-home .panel .panel-footer {
    text-align: right;
}
#clients img {
 max-width: 100%;
 height: auto;
}

#clients {
 text-align: center;
}
.bullet {
 padding-left: 35px;
 background: url('/static/img/logo_small25.png');
 background-repeat: no-repeat;
 background-size: 25px 25px;
 min-height: 25px;
 line-height: 25px;
}
.services-home .panel-heading{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}   
.section-cont p, .section-cont li{
    font-size: 1.2em;
}
.subsection{

    text-align: left;
    border-bottom: 1px dotted rgba(255, 153, 0, 0.35);
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.panel .panel-title span{
    color: #f90;
    padding: 5px;
}

.panel.hot-panel {
    border-radius: 4px;
    min-height: 300px;
    background: linear-gradient(#fff, #eee);
}

.panel.hot-panel .panel-body{
    padding: 10px;
    font-size: 16px;
    height: 180px;

}
.footer a {
    color: #00B8FF;
}
.footer {
    padding-top: 20px;
}

/*.home-top {
    padding-top: 30px;
    margin-top: 0px;
}*/

#page-title {

    padding: 30px 50px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background: #EEE;
    background:  url("/static/img/bg-stripes.gif") repeat;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

#page-title h1{
}

#page-title h1 {
margin-bottom: .30em;
font-weight: 600;
}
#page-title p {
    font-size: 1.2em;

}
.bio {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.bio .panel {

    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    border: 0px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.bio .panel-body {
    font-size: 1.2em;
}
.bio .panel .panel-heading{
    background: none;
}
.bio .panel  img {
    width: 60px;
    height: auto;
}
.bio #page-title  {
    text-align: left;
}   
#carousel-example-generic .carousel-caption {
    background: rgba(20, 20, 20, 0.8) url('/static/img/bg-stripes-black.gif');
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    bottom: 0px;
    width: 200px;
    text-align: left;
    padding-left: 4px;
    padding-top: 1px;
}
#map-contact {
    width: 425px;
    height: 350px;
}
#carousel-example-generic .carousel-caption .title{
    text-align: center;
}

#carousel-example-generic .carousel-indicators {
    width: 100px;
    left: 0px;
    margin-left: 0px;
    /*background: rgba(0, 0, 0, 0.8);*/

}
.top-row {
    background: #fff;
}
.panel-body {
    overflow: hidden !important;
}
#more_servs {
    color: #fff;
}
.map-contact-cont {
float:left; width: 425px;
}
