{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>

<link rel="shortcut icon" href="/static/favicon.ico"  type="image/x-icon" />
<title>{{company.name}} </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}"/>
      <link rel="stylesheet" type="text/css" href="{%static 'css/responsive.css'%}"/>
      <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}"/>
       <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="{%static 'css/ie8.css'%}" />
 <![endif]-->
       <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script> 
       <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
       <script src="{%static 'js/map.js' %}"></script>

       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script>
        (function($){
            $(window).load(function(){
                $(".oflow").mCustomScrollbar(
                {scrollButtons:{
                       enable: Boolean
                    }, 
                    
                    theme: "dark-thick"}
                );

            });
        })(jQuery);
    </script>

       <script>
           onsmenu = false;

           $(document).ready(
            function(){
                $("#menu ul li ul").hide();
                $('#menu ul > li').mouseenter(
                
                    function(){
                        $("ul",this).show(500);
        
                    }
                );
                $('#menu ul > li ul').mouseenter(
                    function() {
                     onsmenu = true;
                    }
                );
                
                $('#menu ul > li ul').mouseleave(
                    function() {
                     onsmenu = false;
                    }
                );


                $('#menu ul > li').mouseleave(
                
                function(){
                    if (onsmenu == false) {
                        $("ul",this).hide(250);
                    }
                    }
                );


            $("#menu [href]").each(function() {
            if (this.href == window.location.href) {
                $(this).addClass("active");
                }
            });

            //Mobile button

            $('.mobile-btn-menu button').click(function() {
                    if ($('.menu-cont').is(":visible")) {
                        $('.menu-cont').hide(300);
                    }
                    else {
                        $('.menu-cont').removeClass('hidden-sm');
                        $('.menu-cont').removeClass('hidden-xs');
                        $('.menu-cont').hide();
                        $('.menu-cont').show(300);
                        }
                    });

            {%block extra_jquery%}{%endblock%}
            }
           );
       </script>
       {# Bootstrap #}
       <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300i|Roboto" rel="stylesheet">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       {%block head%}
       {%endblock%}
    </head>
    <body>

    <div class="navbar navbar-default  header" role='navigation' >
    <div class="container">
    <div class="row top-row" >
        <div class="col-md-4 logo-cont">
            <a href='/'><img id='logo' src="{%static 'img/logo_main.png'%}"/></a>
        </div><!--
        --><div class="hidden-md hidden-lg col-xs-12 mobile-btn-menu">
        <button type="button" class="btn btn-default btn-lg"><span class='glyphicon glyphicon-menu-hamburger'></span></button>
        </div><!--
        --><div class="col-md-8 menu-cont hidden-sm hidden-xs">
        
                <nav id='menu'>
                    <div class='limenu' ><a href='{%url 'home'%}'>Inicio</a></div>
                    <div class='limenu'><a href='{%url 'bio'%}'>Quienes Somos</a></div>
                    <div class='limenu'><a href='{%url 'services_index' %}?show'>Servicios</a></div>
                    <div class='limenu'><a href='{%url 'projects'%}'>Proyectos</a></div>
                    <div class='limenu'><a href='{%url 'laboratory'%}'>Laboratorio</a></div>
                    <div class='limenu'><a href='{%url 'contact'%}'>Cont&aacute;ctenos</a></div>
                </nav>
                <div class='clear'></div>
                
        </div>
    </div>
    </div>
</div>

    <div class='main-cont'>
    <div class="content">

        <div class='{%if use_container%} container{%endif%}'>
                {%block content%}
                {%endblock%}
        </div>
    </div>
    </div>

    <div class='foot'>
    <div class='container foot'>
    <div class="row footer">
       <div class='col-md-9'>     
     <ul >
                    <li class='limenu' ><a href='{%url 'home'%}'>Inicio</a>
                    
                    </li>
                    <li class='limenu'><a href='{%url 'bio'%}'>Quienes Somos</a></li>
                    <li class='limenu'><a href='{%url 'services_index' %}?show=1'>Servicios</a></li>
                    <li class='limenu'><a href='{%url 'projects'%}'>Proyectos</a></li>
                    <li class='limenu'><a href='{%url 'researchs'%}'>Investigaciones</a></li>
                    <li class='limenu'><a href='{%url 'laboratory'%}'>Laboratorio</a></li>
                    <li class='limenu'><a href='{%url 'contact'%}'>Cont&aacute;ctenos</a></li>
                </ul>

            </div>
            <div class='col-md-3'>
                <h4>{{company.short_name}}</h4>
                <p>
                <b>Direcci&oacute;n: </b> {{company.address}}<br/>
                 <b>Tel&eacute;fono: </b>{{company.phone}}<br/>
                 <b>E-mail: </b> {{company.email}}
                </p>
            </div>
    </div>
    <center>
        {{company.short_name}}<br/> {%now 'Y'%}</center>
    </div>
    </div>


   <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {%block body_scripts%}
    {%endblock%}
            </body>
</html>
