{%extends "base_layout.html"%}

{%block content%}
<div class='row'>
    <div class='col-md-12'>
       <div id='page-title'>
           <h1>{{heading.title}}</h1>
           {{heading.content|safe}}
        </div>
     </div>
 </div>

 <div class='row bio'>
    {%for scont in contents%}
    <div class='col-md-4'>
        <div class="panel panel-default">
              <div class="panel-heading">
                  <img src='/static/img/logo_small.png'>
                    <h3 class=' panel.title'> {{scont.title}}</h3>
            </div>
            <div class='panel-body'>{{scont.content|safe}}</div>
        </div>
    </div>
    {%endfor%}
    </div>
{%endblock%}
