{%extends "base_layout.html"%}

{%block content%}
<div class='row'>
    <div class='col-md-12'>
<h1 class='bullet'>Cont&aacute;ctenos</h1>
<br/>
<div id='contact_sec'>
<form method='POST' id='contform'>
<p>
Por favor utilice el siguiente formulario para contactarnos:
</p>

<span id='info'>{{msg}}</span>
    {%csrf_token%}
    {{cform.as_p}}
    <p id='contact_data'>
    <b>Direcci&oacute;n: </b> {{company.address}}<br/>
    <b>Tel&eacute;fono: </b> {{company.phone}}<br/>
    <b>E-mail: </b> {{company.email}}

    </p>
    <input type='submit' value='Enviar' id='submit_inp'/>
</form>

<div class='map-contact-cont' >
<!--<iframe style='float:none;' width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=IDEAR SAS&amp;daddr=&amp;hl=es&amp;geocode=FSd8YAAdhRV_-w&amp;sll=6.339153,-75.563214&amp;sspn=0.006003,0.010504&amp;mra=mr&amp;ie=UTF8&amp;ll=6.323239,-75.557499&amp;spn=0.006295,0.006334&amp;t=m&amp;output=embed"></iframe><br /><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=I-25&amp;daddr=&amp;hl=es&amp;geocode=FSd8YAAdhRV_-w&amp;sll=6.339153,-75.563214&amp;sspn=0.006003,0.010504&amp;mra=mr&amp;ie=UTF8&amp;ll=6.323239,-75.557499&amp;spn=0.006295,0.006334&amp;t=m" style="color:#0000FF;text-align:left" target='_blank'>Ver Mapa grande</a></small>
</div>-->
<div id='map-contact' class='map-canvas' data-lat='{{company.map_lat}}' data-lng='{{company.map_lng}}' data-mark='{{company.short_name}}'>
    </div>
</div>

</div>
</div>
</div>
{%endblock%}
