{%extends "base_layout.html"%}
{%load static%}
{%block head%}

{%endblock%}
{%block content%}
<div class='home-top'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>

                <div class='home-slider'>
                   {%for im in homeimages%}    
                       <div>
                           <div class='home-slider__entry'>
                               <div class='container'>
                                   <div class='row'>
                                       <div class='col-md-6'>
                                           <img class='img-responsive' src="{{im.picture.url}}" >
                                       </div>
                                       <div class='col-md-6'>
                                           <h4>{{im.title}}</h4>
                                           <p>{{im.desc}}</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    {%endfor%}
                </div>

            </div>


        </div>
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <div class='slogan-home'>
                {{company.slogan}}
                <b>Ingeniería, Diseños y ejecución de proyectos.</b>
            </div>
        </div>
        <div class='col-md-6'>
            <h3 class='subsection bullet' >Proyectos Destacados</h3>
            <div class='home-projects-slider'>
                {%for p in projects%}
                    <div>
                            <div class='row'>
                                <div class='col-md-6'>
                                    <img class='img-responsive' src='{{p.images.first.picture.url}}' />
                                </div>
                                <div class='col-md-6'>
                                    <a href='{%url 'projects'%}'>
                                        <h4>{{p.title}}</h4>
                                    </a>
                                    <p>{{p.images.first.desc}}</p>
                                </div>
                            </div>
                    </div>

                {%endfor%}
            </div>
        </div>

    </div>
</div>

<div class='container'>
    <div class='row'>
    <div class='col-md-12 services-home'>
          <h3 class="subsection bullet">Nuestros servicios</h3>
          <div class='row'>
             {%for serv in services%}
             <div class='col-md-6 '>
                 <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>{{serv.title}}</h3>
                  </div>
                  <div class="panel-body">
                      {{serv.content|truncatewords_html:60}} 
                  </div>
                  <div class="panel-footer">
                      <a href='{%url 'services' serv.title serv.pk%}'>Leer más »</a>
                  </div>
                </div>
            </div>
             {%endfor%}
             <div class='col-md-12'>   
                  <a id='more_servs' class='btn btn-warning' href='{%url 'services' 'Geotecnia' 59%}?show'>Ver más servicios</a>
              </div>
          </div>
    </div>
    </div>
</div>

<div class='container'>
    <div class='row'>
    <div class='col-md-12'>
          <h3 class="subsection bullet">Nuestros clientes</h3>
    <div class='row'>
        <div class='home-clients-slider'>
        {%for c in clients%}
        <!--
        <div class='col-md-2 col-xs-6'>
            <img src='{{c.images.all.0.picture.url}}'>
        </div>

        {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
        {%if forloop.counter|divisibleby:6%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
        -->
        <div><img class='img-responsive' src='{{c.images.all.0.picture.url}}'></div>
        {%endfor%}
        </div>
    </div>
    </div>
    </div>
</div>

{%endblock%}

{%block body_scripts%}
<script>
    $(document).ready(function() {
            $(".home-slider").slick({arrows: false, dots: true, autoplay: true});
            $(".home-clients-slider").slick({arrows: false, dots: false,
                    autoplay: true, centerMode: true, slidesToShow: 4,
                    slidesToScroll: 1, autoplaySpeed: 1500, infinite: true});
            });
            $(".home-projects-slider").slick({arrows: false, dots: false,fade: true, autoplay: true, autoplaySpeed: 4000});
</script>
{%endblock%}
