{%extends "base_layout.html"%}
{%load static%}
{%block head%}

<script type="text/javascript" src="{%static 'js/s3Slider.js' %}"></script>
<script>

    $(document).ready(function() {
        $('#slider').s3Slider({
            timeOut: 3000
        });
    });

</script>
{%endblock%}
{%block content%}
(home)<br>
<img src='{%static 'img/logo_big.png'%}' style='max-width: 200px; height: auto; '>

<div id="s3slider">
    <ul id="s3sliderContent">
        <li class="s3sliderImage">
            <img src="#">
            <span>Your text comes here</span>
        </li>
        <li class="s3sliderImage">
            <img src="#">
            <span>Your text comes here</span>
        </li>
        <div class="clear s3sliderImage"></div>
    </ul>
</div>


<p>
Somos una empresa consolidada en el sector de la ingeniería, conformada por una organización perfectamente estructurada, capaz de dar una respuesta rápida y eficaz a las necesidades de la sociedad mediante el diseño y la dirección de obras de Ingeniería y Arquitectura, contando siempre para ello con el equipo, las técnicas y los recursos más avanzados.
</p>
<h4 id='nc'>NUESTROS CLIENTES:</h4>
<div id='clients'>
    {%for c in clients%}
    <img src='{{c.images.all.0.picture.url}}'>
    {%endfor%}
</div>
<div class='clear clr'></div>

{%endblock%}
