{%extends "base_layout.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{%static 'js/jquery.fancybox.pack.js' %}"></script>


<script>
    $(document).ready(function() {
});
</script>
{%endblock%}
{%block content%}
<a href='{%url 'hot_list'%}'>Volver a Destacados.</a>
<h3 class='subsection bullet'>{{hottopic.title}}</h3>
        <span>{{hottopic.pub_date}}</span>
        <p>
        {{hottopic.content|safe}}
        </p>

        <span class='clear'></span>

{%endblock%}
