{%extends "base_layout.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{%static 'js/jquery.fancybox.pack.js' %}"></script>


<script>
    $(document).ready(function() {
});
</script>
{%endblock%}
{%block content%}
    <h2 class='subsection bullet'>Destacados</h2>
     <ul id='hot2' class='hotlist'>
        {%for d in hottopics%}
        <li><h4><span>{{d.pub_date}}</span>&nbsp; <a href='{%url 'view_hot' d.title d.pk%}'>{{d.title|safe}}</a></h4><br>
        <p>
        {{d.prev|safe|striptags}} ...
        </p>
        </li>
        {%endfor%}
    </ul>

        <span class='clear'></span>

{%endblock%}
