{%extends "base_layout.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{%static 'js/jquery.fancybox.pack.js' %}"></script>


<script>
    $(document).ready(function() {
});
</script>
{%endblock%}
{%block content%}
<div class='row'>
    <div class='col-md-12'>
 <div id='page-title'>
	<h1>
        {{heading}}
	</h1>
    {{heading.content|safe}}
</div>
</div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h2 class="subsection bullet">Listado de precios: <a href='{{company.prices_pdf.url}}' target='_blank'><img src='/static/img/pdf_icon.gif' alt='listado de precios 2015' title='listado de precios 2015'/></a></h2>
    </div>
    <div class='col-md-12'>
        <h2 class="subsection bullet">Sistema de gestión de ensayos de laboratorio:</h2>
        <a href='http://sgel.idearsas.com' target='_blank'>
        <img src='/media/otros/pantalla_sgel.png' style='width: 80%; height: auto;box-shadow: 0px 0px 15px #888888; margin: auto; display: block;'>
        <h3><center>Acceder al sistema</center></h3>
        </a>
    </div>
</div>


{%endblock%}
