{%extends "base_layout.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{%static 'js/jquery.fancybox.pack.js' %}"></script>

<script>

    var total_gals = {{total_ent}};
</script>
<script>
    var tran_time = 5000;
    function rungal(thisgal) {
        //#move to next image
        //hide current
        var cur = $('.act',thisgal);
        var next = cur.next()//$('.hid:first',thisgal);

        if (next.size() == 0) {
            next = $('li:first',thisgal)
        }
        cur.fadeOut(1000);
        //show next one
        next.fadeIn(3000);
        //hide current
        cur.addClass('hid');
        cur.removeClass('act');
        //mark next as current
        next.removeClass('hid');
        next.addClass('act');

        if (thisgal.hasClass('stopgal')) {
            thisgal.removeClass('stopgal');
            return 0;
        }
        setTimeout(function () { rungal(thisgal)},tran_time);    
        
    }

    $(document).ready(function() {
        $('.gal').blur(
        function () {

        }
        );
        $('.hid').hide();
        $(".showgal").click(
            function () {
                var inline = $(this).attr('href');
                //get gal
                
                //#STOP ALL GALS
                //for(var i=1; 
                $('.gal').addClass('stopgal');
                //#PREPARE THIS GAL
                $('.gal img', inline).each(function(index){$(this).attr('src', $(this).attr('src_t'))})
                //#START THIS GAL
                var thisgal = $('.gal', inline);
                //thisgal.removeClass('stopgal')
                setTimeout(function () {thisgal.removeClass('stopgal'); rungal(thisgal);}, tran_time + 1000);
                //setTimeout(function () { rungal(thisgal)},tran_time + 1000);    
               
            }
        );

	$(".fpanel").fancybox({
		maxWidth	: 940,
		maxHeight	: 420,
		fitToView	: true,
		autoSize	: true,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
        topRatio: 1
	});
});
</script>
{%endblock%}
{%block content%}
<div class='row'>
    <div class='col-md-12'>
         <div id='page-title'>
            <h1>
                {{heading}}
            </h1>
            <p>
            {{heading.content|safe}}
            </p>
        </div>
    </div>
</div>

<div class='row' id='research-list'>
    <div class='col-md-12'>
    <div id='pr_gal' class='row'>
    {%for p in researchs%}
    <div class='col-md-4  col-xs-6'>
        <div class='cmp'>
        <div class='imwr'>
        {%if p.images.all.0 %}
        <a href='#inline{{forloop.counter}}' class='fpanel showgal'><img src='{{p.images.all.0.picture.url}}'/></a>
        {%endif%}
        </div>
        
        <div class='link-cont'>
        <a href='#inline{{forloop.counter}}' class='fpanel dlink showgal'>{{p.title}}</a>
        </div>

        <div id='inline{{forloop.counter}}' class='dinline'>

            <ul class='din_ul'>
                <li class='l1'><!--Gallery-->
                <ul class='gal'>
                    {% for pi in p.images.all %}
                        {%if forloop.counter == 1%}
                        <li class='act'>
                        {%else%}
                        <li class='hid'>
                        {%endif%}
                        <div>
                        <img  src_t='{{pi.picture.url}}' src='#'/>
                        </div>
                        {%if pi.desc.strip != ""%}
                        <p>{{pi.desc}}</p>
                        {%else%}
                        <p>{{pi.title}}</p>
                        {%endif%}
                        </li>
                    {%endfor%}
                </ul>
                </li>
                <li class='l2'>
                <h4 class='bullet'>{{p.title}}</h4>
                <!--content-->
                <p>{{p.content}}</p>
                </li>
            </ul>
        </div>

    </div>
    </div>
        {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
        {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
    {%endfor%}
    </div>
</div>
</div>
{%endblock%}

