{%extends "base_layout.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{%static 'js/jquery.fancybox.pack.js' %}"></script>


<script>
    $(document).ready(function() {
	$(".fimpanel").fancybox({
		maxWidth	: 720,
		maxHeight	: 350,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
        topRatio: 1
	});
});
</script>
{%endblock%}
{%block extra_jquery%}
             //Mobile service button

            $('.mobile-serv-menu button').click(function() {
                    if ($('.menu-serv-cont').is(":visible")) {
                        $('.menu-serv-cont').hide(300);
                    }
                    else {
                        $('.menu-serv-cont').removeClass('hidden-sm');
                        $('.menu-serv-cont').removeClass('hidden-xs');
                        $('.menu-serv-cont').hide();
                        $('.menu-serv-cont').show(300);
                        }
                    });

            

{%endblock%}

{%block content%}
<div class='row'>
    <div class='col-md-12'>
 <div id='page-title'>
	<h1>
        {{heading}}
	</h1>
    {{heading.content|safe}}
</div>
</div>
</div>

<div class='row'>
     <div class='col-xs-12 col-sm-12 hidden-lg hidden-md mobile-serv-menu'> <button type="button" class="btn btn-default btn-lg"><span class='glyphicon glyphicon-menu-hamburger'></span>Más servicios</button></div>
     <div class='clearfix visible-xs visible-sm'></div>
     <div class='col-md-3 {%if not show_menu%}hidden-xs hidden-sm{%endif%} menu-serv-cont'>
        <ul id='menu_services'>
            <li class='head'>Servicios</li>
            {%for cat in cats%}
            <li class='cat_{{cat.css}} level_{{cat.level}} hov'>
            <a href='{%url 'services' cat.safe_title cat.pk%}'>{{cat.title}}</a>
            </li>
            {%endfor%}
         </ul>
    </div>

<div class='col-md-9'>
 <div class='section-cont'>
     <h3 class='subsection bullet'>{{curserv.title}}</h3>
     <p>
        {{curserv.content}}
        </p>
        <ul id='serv_images'>
            {%for im in curserv.images.all%}
            <li><a href='{{im.picture.url}}' class='fimpanel'><img src='{{im.picture.url}}'/></a></li>
            {%endfor%}
        </ul>
        <div class='clear'></div>
        <!-- subcats -->
        {%if serv_subcats%}
        <ul id='slist'>
            {%for scat in serv_subcats%}
                <li><a href='{%url 'services' scat.safe_title scat.pk%}'>{{scat.title}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}
 </div>
 <div class='clear clr'></div>
 </div>

 </div>
{%endblock%}
