%roboto_font
  font-family: 'Roboto',Helvetica, sans-serif

%opensans_font_bold
  font-family: 'Open Sans Condensed',Helvetica, sans-serif  
  text-transform: uppercase
  font-weight: 700

%opensans_font_light
  font-family: 'Open Sans Condensed',Helvetica, sans-serif  
  text-transform: uppercase
