.home-top
  background: $black1 url(/static/img/bg-stripes-black.gif)
  padding: 18px 0px;

$dot_rad: 20px

.home-slider
  &__entry
    position: relative
  .img-slide
  .container
    color: $white
    img
      border: 1px solid $orange1
  .slick-dots
    text-align: center
    li
      display: inline-block
      margin-right: 20px
    button
      outline: none
      border: none
      background: transparent
      font-size: 1px
      color: $white
      width: $dot_rad * 2
      height: $dot_rad * 2
      display: block
      line-height: 0
      -moz-border-radius: $dot_rad
      -webkit-border-radius: $dot_rad
      border-radius: $dot_rad
      background: $gray    
      color: $gray
      margin-top: 20px

  .slick-active button
    color: $orange1
    background: $orange1

.slogan-home
  border: 3px solid $orange1
  text-align: justify
  box-shadow: 0px 0px 4px #777
  padding: 25px 15px
  color: black
  background:  $gray3 url(/static/img/bg-logo.png) no-repeat left

  font-size: 18px
  margin-top: 25px
  b
    text-align: center
    display: block
    text-transform: uppercase
    margin-top: 10px


.services-home
  .panel-title
    text-align: center
    font-size: 18px
  .panel-body
    font-size: 16px

.home-projects-slider
  img
