
body
  background: $white !important
  @extend %roboto_font
  font-size: 14px

.header
  &.navbar
    border-bottom: 4px solid #f90
    padding-bottom: 20px
    border-radius: 0px
#menu
  .limenu
    border: 0px
    a
      color: $gray2
      &.active
        color: black

.navbar-default
  background-color: transparent

.subsection
  border: 0
