/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .bio .col-md-4:last-child {
        width: 100%;
    }
     .bio .col-md-4:last-child .panel-body {
        text-align: left !important;

     }
     #research-list {
            min-height: 480px;
     }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #menu .limenu {
        display: block;
        border: 0;
        text-align: left;
    }
    
    #menu_services {
     margin: auto;
     width: 100%;
     font-size: 1.2em;
     background-image: none, none;
     border-top: 1px solid #f90;
     border-bottom: 1px solid #f90;
     }
    .dinline ul li.l1 {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
        text-align: left;
    }
    .dinline ul li.l2 {
        width: 100%;
        overflow: visible;
        height: initial;
    }
    .map-contact-cont , #map-contact{
        max-width: 100%;
    }
    
    #menu a.active {
        border-top:0px solid #f90; /*#d56003;*/
        background: #f90;
        color: #fff;
        border-radius: 4px;
        padding-left: 2px;
        padding-right: 2px;
    }
    #logo {

        max-width: 300px;
    }
    .logo-cont {  width: 100%; text-align: center;}
    #carousel-example-generic .carousel-caption {width: 40%;}
    #carousel-example-generic .item img { margin-left: 40%; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
