body {
  font-family: 'Roboto',Helvetica, sans-serif; }

body {
  background: #fff !important;
  font-size: 14px; }

.header.navbar {
  border-bottom: 4px solid #f90;
  padding-bottom: 20px;
  border-radius: 0px; }

#menu .limenu {
  border: 0px; }
  #menu .limenu a {
    color: #665; }
    #menu .limenu a.active {
      color: black; }

.navbar-default {
  background-color: transparent; }

.subsection {
  border: 0; }

.home-top {
  background: rgba(20, 20, 20, 0.8) url(/static/img/bg-stripes-black.gif);
  padding: 18px 0px; }

.home-slider__entry {
  position: relative; }

.home-slider .container {
  color: #fff; }
  .home-slider .container img {
    border: 1px solid #f90; }

.home-slider .slick-dots {
  text-align: center; }
  .home-slider .slick-dots li {
    display: inline-block;
    margin-right: 20px; }
  .home-slider .slick-dots button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #ccc;
    color: #ccc;
    margin-top: 20px; }

.home-slider .slick-active button {
  color: #f90;
  background: #f90; }

.slogan-home {
  border: 3px solid #f90;
  text-align: justify;
  box-shadow: 0px 0px 4px #777;
  padding: 25px 15px;
  color: black;
  background: #f8f8f8 url(/static/img/bg-logo.png) no-repeat left;
  font-size: 18px;
  margin-top: 25px; }
  .slogan-home b {
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-top: 10px; }

.services-home .panel-title {
  text-align: center;
  font-size: 18px; }

.services-home .panel-body {
  font-size: 16px; }
